<%- model_class = @box.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "") %></h1>
<%= render :partial => 'form' %>
