<%- model_class = @box.class -%>
<h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "Casilla") %></h1>
<%= render :partial => 'form' %>
