<div class="hero-unit">
	<h1>Sistema de encuestas</h1>
	<p>Bienvenido al sistema de captura de encuestas de nuestro candidato Miguel Márquez Márquez</p>
	<p><%= link_to "Empezar a capturar", generals_path, :class => "btn btn-primary btn-large" %></p>
</div>

<!-- <div class="span4">
	<h2>No. de encuestas #6</h2>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu</p>
</div>-->


