<div class="hero-unit">
	<h1>Sistema de encuestas</h1>
	<p>Sistema para la captura de encuestas de nuestro candidato Miguel Márquez Márquez</p>
<p><a class="btn btn-primary btn-large">Empezar a capturar »</a></p>

</div>

