<div class="hero-unit">
	<h1>P.R.E.P. Guanajuato</h1>
	<p>Bienvenido al sistema de Captura de Resultados :: Elecciones 2012</p>
  <% if current_user.role == "capturista" || current_user.role == "abogado" %>
	  <p><%#= link_to "Empezar a capturar", edit_box_path(current_user.box), :class => "btn btn-primary btn-large" %></p>
	  <p><%= link_to "Empezar a capturar",incidences_path, :class => "btn btn-primary btn-large" %></p>
  <% end %>
</div>



