<%- model_class = @poll.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Editar encuesta") %></h1>
<%= render :partial => 'form' %>
