<p>Bienvenido <%= @resource.email %>!</p>

<p>Puedes confirmar esta cuenta a través del el link de abajo</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
